*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#eaf6ff;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{

    width:500px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    text-align:center;
}

h1{
    color:#0077b6;
    margin-bottom:10px;
}

.subtitle{
    color:#555;
    margin-bottom:30px;
}

.upload-box{

    border:2px dashed #90caf9;

    padding:40px;

    border-radius:15px;

    background:#f7fbff;
}

.upload-btn{

    background:#64b5f6;

    color:white;

    padding:12px 25px;

    border-radius:8px;

    cursor:pointer;

    display:inline-block;
}

.upload-btn:hover{
    background:#42a5f5;
}

#fileName{

    margin-top:15px;

    color:#555;
}

#analyzeBtn{

    margin-top:25px;

    width:100%;

    padding:15px;

    border:none;

    background:#0288d1;

    color:white;

    font-size:16px;

    border-radius:10px;

    cursor:pointer;
}

#analyzeBtn:hover{
    background:#0277bd;
}